body{
    background-image: url('');
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background: #9E9E9E !important;
}
#app-container{
    width: 100%;
    overflow: hidden;

}
#app-header{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #2ecc73;
    text-align: center;
    z-index: 10;

}
#app-header h1{
    line-height: 10vh;
    margin: 0;
    color: white;
}

#app-body{
    padding-top: 15vh;
    width: 80%;
    margin: 0 auto;
    min-height: 75vh;
}
#app-footer{
    width: 100%;
    min-height: 10vh;
}
#app-footer p {
    padding-top: 15vh;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
.tv-show{
    width: 100%;
    overflow: hidden;
    padding: 16px;
    background-color: white;
    margin-bottom: 16px;
    position: relative;
    border: 5px solid black;
}
.tv-show:hover{
    background-color: #ecf0f1;
}
/*boton like*/
.tv-show button.like{
  background: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: all 1s ease;
}
/*boton sad*/
.tv-show button.sad{
  background: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 22px;
  cursor: pointer;
  transition: all 1s ease;
}
/*boton me gusta*/
.tv-show button.gusta{
  background: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 10px;
  right: 120px;
  font-size: 22px;
  cursor: pointer;
  transition: all 1s ease;
}
/*click y zoom en el corazon*/
.tv-show.liked button.like{
  font-size: 40px;
}
/*click y zoom en sad*/
.tv-show.likes button.sad{
  font-size: 40px;
}
/*click y zoom en sad*/
.tv-show.megusta button.gusta{
  font-size: 40px;
}

/*efecto al dar click*/
.tv-show.liked{
  background-color: #ff0000d1;
  color: white;
}
.tv-show.liked:hover{
  background-color: #ff0000d1;
}
/*efecto al dar click en sad*/
.tv-show.likes{
  background-color: #ff9800d6;
  color: white;
}
.tv-show.likes:hover{
  background-color: #ff9800d6;
}
/*efecto al dar click*/
.tv-show.megusta{
  background-color: #03a9f4c7;
  color: white;
}
.tv-show.megusta:hover{
  background-color: #03a9f4c7;
}
.tv-show .image-container{
    width: 20%;
}
.tv-show img{
    max-width: 100%;
}
.tv-show .info{
    width: 75%;
}
.left {
   float: left;
}
.rigth {
    float: right
}
#app-body .search-form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom:20px;
    font-size: 22px;
}
#app-body .search-form input[type="text"]{
    padding: 12px;
    border-radius: 6px;
    width: 300px;
}
/*Loader*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*Responsive*/
/*1028*/
@media screen and (max-width: 1024px) {
    .tv-shows{
    margin-left: 0px;
  }
}
/*768*/
@media screen and (max-width: 768px) {
  .tv-shows{
    margin-left: 0px;
  }
}
/*414px*/
@media screen and (max-width: 414px) {
  .loader{
    text-align: center;
    margin: auto;
    margin-left: 120px;
  }
  #app-header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #2ecc73;
    text-align: center;
    z-index: 10;
}
  #app-body .search-form {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 0px;
}
.tv-shows{
    margin: 0;
    padding: 0;
}
.tv-show {
    width: 100%;
    overflow: hidden;
    padding: 13px;
    background-color: white;
    margin-bottom: 16px;
    position: relative;
    border: 5px solid black;
}
.tv-show .image-container {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 55px;
}
.tv-show .info {
    width: 100%;
    padding-top: 25px;
    text-align: justify;
}
.tv-show .info h1{
    text-align: center;
}
.tv-show button.gusta {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 262px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
.tv-show button.sad {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 140px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
#app-footer p {
    padding-top: 15vh;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
}
/*412px*/
@media screen and (max-width: 412px) {
  .loader{
    text-align: center;
    margin: auto;
    margin-left: 120px;
  }
  #app-header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #2ecc73;
    text-align: center;
    z-index: 10;
}
  #app-body .search-form {
    /* width: 50%; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 0px;
}
.tv-shows{
    margin: 0;
    padding: 0;
}
.tv-show {
    width: 100%;
    overflow: hidden;
    padding: 13px;
    background-color: white;
    margin-bottom: 16px;
    position: relative;
    border: 5px solid black;
}
.tv-show .image-container {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 55px;
}
.tv-show .info {
    width: 100%;
    padding-top: 25px;
    text-align: justify;
}
.tv-show .info h1{
    text-align: center;
}
.tv-show button.gusta {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 262px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
.tv-show button.sad {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 140px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
#app-footer p {
    padding-top: 15vh;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
}
/*375px*/
@media screen and (max-width: 375px) {
  .loader{
    text-align: center;
    margin: auto;
    margin-left: 100px;
  }
  #app-header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #2ecc73;
    text-align: center;
    z-index: 10;
}
  #app-body .search-form {
    /* width: 50%; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 0px;
}
.tv-shows{
    margin: 0;
    padding: 0;
}
.tv-show {
    width: 100%;
    overflow: hidden;
    padding: 13px;
    background-color: white;
    margin-bottom: 16px;
    position: relative;
    border: 5px solid black;
}
.tv-show .image-container {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 55px;
}
.tv-show .info {
    width: 100%;
    padding-top: 25px;
    text-align: justify;
}
.tv-show .info h1{
    text-align: center;
}
.tv-show button.gusta {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 230px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
.tv-show button.sad {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 125px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
#app-footer p {
    padding-top: 15vh;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
}
/*360px*/
@media screen and (max-width: 360px) {
  .loader{
    text-align: center;
    margin: auto;
    margin-left: 90px;
  }
  #app-header {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #2ecc73;
    text-align: center;
    z-index: 10;
}
  #app-body .search-form {
    /* width: 50%; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: -8px;
}
.tv-shows{
    margin: 0;
    padding: 0;
}
.tv-show {
    width: 100%;
    overflow: hidden;
    padding: 13px;
    background-color: white;
    margin-bottom: 16px;
    position: relative;
    border: 5px solid black;
}
.tv-show .image-container {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 55px;
}
.tv-show .info {
    width: 100%;
    padding-top: 25px;
    text-align: justify;
}
.tv-show .info h1{
    text-align: center;
}
.tv-show button.gusta {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 209px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
.tv-show button.sad {
    background: transparent;
    border: 0;
    outline: 0;
    position: absolute;
    top: 10px;
    right: 113px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s ease;
}
#app-footer p {
    padding-top: 15vh;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
}